

@author: ecekurnaz


<html>

<head>
  <meta charset="utf-8">
  <title>University Acceptance</title>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" type="text/css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo" type="text/css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind:300" type="text/css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" type="text/css"/>-->
  <style>
h1 {text-align: center;}
h2 {text-align: center;}
div {text-align: center;}
ul {
text-align: left;
width: 40%;
position:relative;
left: 30%;
}
body {
  background-image: url('static/images/img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

</head>

<body>
  
 <body style="background-color:powderblue;">   
    
    
    <h2>This app will inform candidates about their acceptance to the universities.</h2>
    
    
    <div class="row">
      
  <div class="column">
    <h2>Our inputs are,</h2>
    
    <ul>
      <li>
      <h3>SAT:</h3> Candidates' SAT test scores
      </li>
      <li>
      <h3>gpa:</h3> Grade Point Average at their schools.
      </li>
      <li>
      <h3>work_experience:</h3> Candidates experience at work.
    </li>
    </ul>
          
    
    
    <h2>Your result will show your status as;</h2>
  
  <ul>
    <li>
      <h3>Admitted:</h3> represented with'1'.
    </li>
    <li>
      <h3>Rejected:</h3> represented with '0'.
    </li>
  </ul>
  
  </div>
  
  
  <div class="column">
    
    <div class="login">
      
      <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
  <h3>Student's information</h3>
  
  <form action="{{ url_for('predict') }}" method="POST">
    <input type="text" name="SAT" placeholder="SAT" required="required" />
    <br />
    <br />
    <input type="text" name="GPA" placeholder="Gpa" required="required" />
    <br />
    <br />
    <input type="text" name="Experience" placeholder="Work experience" required="required" />
    <br />
    <br />
    <button class="btn btn-primary btn-block btn-large" type="submit">Predict</button>
  </form>
  
  <br />
  
  
  {{ prediction_text}}
  
</div>
    
  </div>
  
  </div>
    
   
    
    




</body>
</html>
